# Kafka
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="7ALPZ64UINOEBM4K" password="y8XaxmzJvLSTOy4P6oS+gXaEhmABuFvCsvBIf6eqNT8VuGoO6kKV+IWMb+h4bWR6";
ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN